ul{text-align: right;}

.navbar-nav{margin-left: auto;}

.div1{background-color: #4c6627;
padding: 50px;}

.div2{background-color: #394f1d;
text-align: center;
padding: 50px;}

#footer {
    background-color: #283a14;
    text-align:center;
    clear:both;
padding: 50px;}

.div4{text-align: center;}